@model AddressBook.Models.View_Model.PersonVM



@{
    ViewData["Title"] = "Create";
}





<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card card-dark">
            <div class="card-header m-0 p-1 bg-dark">
                <h5 class="card-title m-0 text-white">Address Book</h5>
                <div class="text-right"><a asp-action="Index" asp-controller="People" class="btn btn-xs btn-warning p-0" id="btnBlankAppliation">Back To List</a></div>
            </div>
            <form asp-action="Create"  class="my-2 mx-2" enctype="multipart/form-data" method="post">
                <div class="row form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-7">
                        <label class="control-label">Name</label>
                        <input  asp-for="personName" class="form-control" id="number" placeholder="Your Name Please">
                        <span id="numberMsg" asp-validation-for="personName" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label class="control-label">Picture</label>

                        <input asp-for="PicturPath" class="form-control-file" id="Imageone">
                        <span asp-validation-for="PicturPath" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <img src="~/Images/pp.png" id="imagePreview" class="rounded-circle" width="100" height="80" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-7">
                        <label class="control-label">Phone Numbeer</label>
                        <input type="number" maxlength="15" minlength="11" asp-for="personPhone" class="form-control">
                        <span asp-validation-for="personPhone" class="text-danger"></span>
                        <span class="text-danger">@ViewBag.msg</span>
                    </div>
                    <div class="col-md-5">
                        <label class="control-label">Date of Birth</label>
                        <input asp-for="dob" type="date" class="form-control">
                        <span asp-validation-for="dob" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Country</label>
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                            <i class="fas fa-plus-circle"></i>
                        </button>
                        <select id="Country" asp-for="countryId" asp-items="ViewBag.Countries" class="form-control">
                            <option value="-1">--Country--</option>
                            @*@{
                                    foreach (var item in ViewBag.Country)
                                    {
                                        <option value="@item.countryId">@item.countryName</option>
                                    }
                                }*@
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Division</label>
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                            <i class="fas fa-plus-circle"></i>
                        </button>
                        @*<select asp-for="divisionId" class="form-control" asp-items="ViewBag.divisionId"></select>*@
                        <select id="Division" asp-for="divisionId"  class="form-control">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">District</label>
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                            <i class="fas fa-plus-circle"></i>
                        </button>
                        @*<select asp-for="districtId" class="form-control" asp-items="ViewBag.districtId"></select>*@
                        <select id="District" asp-for="districtId"  class="form-control">
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="village" class="control-label"></label>
                    <input asp-for="village" class="form-control" />
                    <span asp-validation-for="village" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 text-center">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-sm btn-success" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $('#Imageone').change(function (event) {
            var tmppath = URL.createObjectURL(event.target.files[0]);
            $("#imagePreview").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
        });

        $("#Country").change(function () {
            $("#Division").empty();
            $("#District").empty();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("getDivision")',
                dataType: 'json',
                data: { id: $("#Country").val() },
                success: function (divisions) {
                    $("#Division").append('<option value="' + -1 + '">' + "Select Division" + '</option>');
                    $.each(divisions, function (i, division) {
                        $("#Division").append('<option value="' + division.value + '">' + division.text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('faield to retrive Division' + ex)
                }

            });
            return false;
        })
        $("#Division").change(function () {

            $("#District").empty();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("getDistrict")',
                dataType: 'json',
                data: { id: $("#Division").val() },
                success: function (divisions) {
                    $("#District").append('<option value="' + -1 + '">' + "Select District" + '</option>');
                    $.each(divisions, function (i, division) {
                        $("#District").append('<option value="' + division.value + '">' + division.text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('faield to retrive Division' + ex)
                }

            });
            return false;
        })

        //function validationForm() {
        //    var errors = false;
        //    if (document.getElementById("number").val().length() != 11) {
        //        errors = true;
        //        alert("number must be 11 Charcters");

        //    } else {
        //        errors = false;
        //    }
        //    if (errors == false) {
        //        document.getElementById("form").submit();
        //    }
        //}
        //$(function () {
        //    $("#Country").change(function () {
        //        $.getJSON("/People/getDivision", { id: $("#Country").val() },)
        //    }, function (d) {
        //        var row = "";
        //        $("#Division").empty();
        //        $.each(d, function (i, v) {
        //            row += "<option value=" + v.value + ">"+v.text+"</option>";
        //        });
        //        $("#Division").html(row);
        //    });
        //    $("#Division").change(function () {
        //        $.getJSON("/People/getDistrict", { id: $("#Division").val() },)
        //    }, function (d) {
        //        var row = "";
        //        $("#District").empty();
        //        $.each(d, function (i, v) {
        //            row += "<option value=" + v.value + ">" + v.text + "</option>";
        //        });
        //        $("#District").html(row);
        //    });

        //});

        //$(document).ready(function () {
        //    $("#Country").change(function () {
        //        /*alert("hello friend...");*/
        //        var id = $("#Country option:selected").val();
        //        $.ajax({
        //            url: '/People/getDivision/' + id,
        //            cache: false,
        //            type: 'GET',
        //            dataType: 'JSON',
        //            success: function (data) {
        //                console.log(data);
        //                $("#Division").empty();

        //                $.each(data, function (i, obj) {
        //                    var s = '<option value="' + obj.divisionId + '">' + obj.divisionName + '</option';
        //                    console.log(s);
        //                    $("#Division").append(s);
        //                })
        //            }
        //        })
        //    })
        //    $("#Division").change(function () {
        //        /*alert("hello friend...");*/
        //        var id = $("#Division option:selected").val();
        //        $.ajax({
        //            url: '/People/getDistrict/' + id,
        //            cache: false,
        //            type: 'GET',
        //            dataType: 'JSON',
        //            success: function (data) {
        //                console.log(data);
        //                $("#District").empty();
        //                $.each(data, function (i, obj) {
        //                    var s = '<option value="' + obj.districtId + '">' + obj.districtName + '</option';
        //                    console.log(s);
        //                    $("#District").append(s);
        //                })
        //            }
        //        })
        //    })
        //})
    </script>
}
